/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

* {
  font-family:"Trebuchet MS", Verdana, Helvetica, Arial, Sans-serif;
  margin:0;
  padding:0;
//  border: 1px solid #a0a0a0;
}

.row.header_or_footer {
  margin: 0;
  padding: 15px;
}

.extra_padded_container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 45px;
  padding-right: 45px;
}

.extra_bottom_margin {
  margin-bottom: 30px;
}

.row {
  margin: 30px -15px;
}

.full-width-background {
  padding: 5%;
  background-color: rgba(197, 197, 197, 0.75);
  margin: 50px -45px;
}

#header_banner {
  width: 100%;
}

#footer_banner {
  background-color: rgba(197, 197, 197, 0.9);
  p {
    margin: 0;
    color: #fff;
  }
}

#title_description {
  display: inline-block;
  span {
    display: block;
  }
  #company_title { font-size: 20px; }
  #company_description { font-size: 12px; }
}

.main_logo {
  display: inline-block;
  vertical-align: top;
}

#shopping_cart {
  border: 1px solid #000;
  font-size: 18px;
  padding: 8px 20px;
}

#main_navbar_holder{
  z-index: 101;
}

#main_navbar {
  padding: 10px;
  li {
    padding: 10px;
    a {
      display: inline-block;
      margin: 0 auto;
      width: 100%;
      text-decoration: none;
      color: #000;
      padding: 5px;
    }
  }
}

.nav_dropdown_menu {
  display: none;
  margin-top: 10px;
  position: absolute;
  left: -70px;
  background: no-repeat center center fixed;
  background-size: cover;
  background-color: rgba(197, 197, 197, 0.75);
  opacity: 1.7;
  z-index: 99;
}

.primary_links {
  left: 70px;
  vertical-align: top;
}

.secondary_links {
  left: 25%;
  position: relative;
}

/* css for tablets */
@media only screen and (max-width: 768px){

}

