// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.company_service {
  margin: 10px 50px;
  border: 2px solid rgba(197, 197, 197, 0.75);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  img {
    border-radius: 50%;
    opacity: 0.6;
  }
}

.see_more_link {
  font-size: 16px;
}

.banner_header {
  margin-bottom: 20px;
  font-weight: bold;
}

#book_img_text {
  img {
    display: inline-block;
    width: 45%;
    height: 230px;
    position: relative;
    top: -10px;
  }
  span {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    font-size: 16px;
    line-height: 1.7;
  }
}

#home_page_break {
  margin: 20px -45px;
  border: 0;
  border-top: 1px solid rgba(197, 197, 197, 0.75);
}

#youngest_age {
  font-size: 40px;
  padding: 10px;
  font-weight: bold;
}

.social_section {
  padding-bottom: 30px;
  .fa {
    font-size: 30px;
    margin-right: 30px;
    cursor: pointer;
  }
}

#newsletter_email_input {
  display: inline-block;
  width: 85%;
  background-color: rgba(197, 197, 197, 0.75);
}

#newsletter_email_submit {
  display: inline-block;
  padding: 2px;
  font-size: 10px;
  background-color: rgba(32, 32, 158, 0.88);
  color: #fff;
  position: relative;
  left: -42px;
  top: -2px;
}

@media only screen and (max-width: 768px){
  .company_service {
    margin: auto;
  }
}

@media only screen and (max-width: 545px){}