<div class="footer_container">
  <div class="row header_or_footer" id="footer_banner">
	<div class="col-md-4 col-xs-6">
	  <p class="text-uppercase">&#169;2015 &nbsp; Your Infinite Life &nbsp; All Rights Reserved</p>
	  <p>www.yourinfinitelifeonline.com</p>
	</div>
	<div class="col-md-8 col-xs-6"></div>
  </div>
</div>