<div class="title_logo_container">
  <div class="row header_or_footer <%= yield :main_container_class %>" id="header_banner">
	<div class="col-xs-10">
	  <img class="img-responsive center-block main_logo" src="http://placehold.it/100x50">
	  <div id="title_description">
	    <span class="text-uppercase" id="company_title">Your Infinite Life</span>
	    <span class="text-uppercase" id="company_description">Training & Coaching Company</span>
	  </div>
	</div>
	<div class="col-xs-2 text-center">
	  <%= icon('shopping-cart', id: 'shopping_cart') %>
    </div>
  </div>
</div>

<div class="extra_padded_container" id="main_navbar_holder">
  <%= render 'layouts/header_navbar' %>
</div>
